/* Page */
body {
    background-color: black;
    color: whitesmoke;
    /*
    padding:          15px;
    border-width:     1px;
    border-radius:    10px;
    border-style:     solid;
    border-color:     whitesmoke;
    */
}

/* The "L" */
.boxed {
    font-size: 72;
    font-family: times;
    border-radius: 10px;
    border-style: solid;
    border-color: whitesmoke;
}

#outerL {
    position: absolute;
    top: 3%;
    left: 2%;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#innerL {
    border-width: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Calendar */
#outer {
    position: absolute;
    top: 5%;
    left: 50%;
}

.ring {
    position: relative;
    top: 25px;
}

.cal {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    text-align: center;
    font: 14px Monaco, MonoSpace;
}

/* Links */
#links {
    position: absolute;
    bottom: 2%;
    left: 1.5%;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: #3daee9;
    text-decoration: underline;
}

/* Clock */
#clock {
    position: absolute;
    top: 2%;
    right: 1%;
}

/* Info */
#info {
    position: absolute;
    top: 5%;
    right: 1%;
}