/* mandala.css, Rob Campbell, 2023, GPL 3 */

body {
    background-color: black;
    color: whitesmoke;
}

#zulu {
    position: absolute;
    top: 2%;
    right: 1%;
}

/* For 2D graphics (clock)...
*/
#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Year and Month names...
*/
#outerRing {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 800px;
}

/* Day numbers...
*/
.ring {
    position: relative;
    top: 25px;
}

/* Rotated text...
*/
.txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    text-align: center;
    font: 14px Monaco, MonoSpace;
}

/* Month colors...
*/

#mo0 {  
    color: DeepSkyBlue;
}

#mo1 {
    color: CornflowerBlue;
}

#mo2 {
    color: Lime;
}

#mo3 {
    color: YellowGreen;
}

#mo4 {
    color: Lime;
}

#mo5 {
    color: DarkRed;
}

#mo6 {
    color: Pink;
}

#mo7 {
    color: Red;
}

#mo8 {
    color: DarkGoldenrod;
}

#mo9 {
    color: Brown;
}

#mo10 {
    color: Sienna;
}

#mo11 {
    color: DodgerBlue;
}

/* Day-of-the-week background colors...
*/

#day0background {
    color: LightGray;
}

#day1background {
    color: DarkGray;
}

#day2background {
    color: Gray;
}

#day3background {
    color: DarkGray;
}

#day4background {
    color: LightGray;
}

#day5background {
    color: DarkGray;
}

#day6background {
    color: Gray;
}

/* Calendar texts...
*/

.txtY {
    color: white;
}

.txtM {
    color: white;
}

.txtW {
    color: gray;
}

.txtD {
    color: white;
}

/* Clock texts...
*/

.txtSixtyDigit {
    color: pink;
}

.txtSixtyTick {
    color: red;
}

.txtH {
    color: white;
}

/* Clock hands...
*/

#secHand {
    color: red;
}

#minHand {
    color: pink;
}

#hourHand {
    color: white;
}