/* mandala.css, Rob Campbell, 2023, GPL 3 */

body {
    background-color: black;
}

#zulu {
    position: absolute;
    top: 2%;
    right: 1%;
}

/* For 2D graphics (clock)...
*/
#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Year and Month names...
*/
#outerRing {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 800px;
}

/* Day numbers...
*/
.ring {
    position: relative;
    top: 25px;
}

/* Rotated text...
*/
.txt {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    text-align: center;
    font: 14px Monaco, MonoSpace;
}

/* Month colors...
*/

.mo0 {  
    color: DeepSkyBlue;
}

.mo1 {
    color: CornflowerBlue;
}

.mo2 {
    color: Lime;
}

.mo3 {
    color: YellowGreen;
}

.mo4 {
    color: Lime;
}

.mo5 {
    color: DarkRed;
}

.mo6 {
    color: Pink;
}

.mo7 {
    color: Red;
}

.mo8 {
    color: DarkGoldenrod;
}

.mo9 {
    color: Brown;
}

.mo10 {
    color: Sienna;
}

.mo11 {
    color: DodgerBlue;
}

/* Day-of-the-week (rings)...
*/

.day0 {
    background-color: Black;
}

.day1 {
    background-color: DarkSlateGray;
}

.day2 {
    background-color: DimGray;
}

.day3 {
    background-color: Black;
}

.day4 {
    background-color: DarkSlateGray;
}

.day5 {
    background-color: DimGray;
}

.day6 {
    background-color: Black;
}

/* Calendar texts...
*/

.txtY {
    color: white;
    font-weight: bold;
}

.txtCurrentMonth {
    font-weight: bold;
}

.weekNumber {
    color: gray;
}

.dayOfWeek {
    color: white;
    font-weight: bold;
}

.currentDayOfWeek {
    color: red;
    font-weight: bold;
}

.dayOfMonth {
    color: white;
}

.currentDayOfMonth {
    color: red;
    background-color: black;
    font-weight: bold;
}

/* Clock texts...
*/

.txtSixtyDigit {
    color: pink;
    font-weight: bold;
}

.txtSixtyTick {
    color: red;
}

.txtH {
    color: white;
    font-weight: bold;
}

/* Clock hands...
*/

.secHand {
    color: red;
    width: 2px;
    height: 170px;  /* radius (lenght) */
}

.minHand {
    color: pink;
    width: 4px;
    height: 158px;  /* radius (lenght) */
}

.hrsHand {
    color: white;
    width: 10px;
    height: 103px;  /* radius (lenght) */
}